@model List<UILHost.Infrastructure.Domain.Student>
@{
    ViewBag.Title = "My Students";
}

<h2>My Students</h2>

@foreach (var student in Model)
{
    <span>@student.FirstName @student.LastName</span><br/>
}